<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="MyAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="EMAIL2" class="ch.qos.logback.classic.net.SMTPAppender">
        <SMTPHost>smtp.163.com</SMTPHost>
        <SMTPPort>25</SMTPPort>
        <Username>m15070010574_1@163.com</Username>
        <Password>123456whyWHY</Password>
        <To>1093615441@qq.com</To>
        <From>m15070010574_1@163.com</From>
        <Subject>TESTING: %logger{20} - %m</Subject>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%date %-5level %logger - %message%n</Pattern>
        </layout>
        <cyclicBufferTracker class="ch.qos.logback.core.spi.CyclicBufferTracker">
            <bufferSize>1</bufferSize>
        </cyclicBufferTracker>
    </appender>

    <root level="error">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>